:root {
  --main-bg-color: #eee;
}

body {
  font-family: 'Open Sans';
  background-color: var(--main-bg-color);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.App-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

@media only screen and (min-width: 600px) {
  .App-head {
    height: 100vh;
  }
}

.App-logocontainer {
  border: 1px solid #222;
  width: 36em;
  max-width: 80vw;
  height: 36em;
  max-height: 80vw;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.App-logotype {
  width: 36em;
  max-width: 80vw;
}
